*{
    margin:0px;
    padding:0px;
    font-family: 'Baloo Bhaina 2', cursive;
}
h1{
    background-color: blue;
    text-align: center;
    font-size: 2 rem;
    color: white;
    
    

}
h2{ font-size: 1.3rem;
background-color: black;
border: 2px solid black;
border-radius: 20px;
padding:0px 10px;
text-align: center;
color:white;
cursor: pointer;
}
h2:hover{ background-color: white;
color: black;}


.resultflex{
    display: flex;

    /* border: 2px solid red; */
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
   
    
}
.fullresult img{ display: flex;
align-items: center;
justify-content: center;
width: 48vw;
margin: 20px 10px;
border: 2px solid black;

}

.result img{
    /* height: 100px;
    width: 100px; */
    /* border: 2px solid red; */
    /* margin: 15px 20px; */
    display: flex;
    width: 40vw;
    /* border: 2px solid black; */
    /* height: 200px; */
    
    
}
#btechresult{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
margin: 10px 0px;
}
.btech img{
    display: flex;
    width: 30vw;
    margin: 5px;
    border: 2px solid black;
    
}
#center{
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    
}
.bio {
display: flex;
justify-content: center;
align-items: center;
margin: 20px 0px;
}
.bio img{
    border: 2px solid black;
    width: 60vw;
}

