*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaina 2', cursive;
}


h1{
    background-color: blue;
    
    text-align: center;
    font-size: 2 rem;
    color: white;
    
    

}
h2{ font-size: 1.3rem;
background-color: black;
border: 2px solid black;
border-radius: 20px;
padding:0px 10px;
text-align: center;
color:white;
cursor: pointer;
}
h2:hover{ background-color: white;
    color: black;}



#technicalimg{
    display: flex;

    /* border: 2px solid red; */
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
   
    
}
.skillsimg img{
    /* height: 100px;
    width: 100px; */
    /* border: 2px solid red; */
    margin: 15px 0px;
    display: flex;
    width: 250px;
    height: 250px;
    
    
    
}
.skillsimg{ 
     /* height: 100px; */
   

    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    
    
    
}

#frameworkimg{
    display: flex;

    /* border: 2px solid red; */
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
   
}
#nontechnicalskill{
    display: flex;

    /* border: 2px solid red; */
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}